

{% block title %}
newrecord |
{% endblock title %}

<div class="container-fluid px-0"><div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    </ol>
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/static/new4 copy.png" class="d-block w-100" alt="...">



    <form style="
    position: absolute;
    top: 50%;
    left: 200px;
">
        <div class="form-group">
        <label for="exampleFormControlInput1">NAME</label>
        <input type="Name" class="form-control" id="NAME" placeholder="Enter your Name">
        <label for="exampleFormControlInput1">ID</label>
        <input type="Name" class="form-control" id="Hall ticket number" placeholder="Enter ID Number">
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">COURSE</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>B.Tech</option>
                <option>Pharmacy</option>
                <option>Management</option>
                <option>Agriculture</option>
            </select>

            <div class="form-group">
                <label for="exampleFormControlSelect1">DEPARTMENT</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Computer Science and Engineering</option>
                    <option>Information Technology</option>
                    <option>Electrons and Communictaion Engineering</option>
                    <option>Civil Engineering</option>
                    <option>Mechanical Engineering</option>
                    <option>Electrical and Electronics Engineering</option>
                </select>
                </div>

            <label for="exampleFormControlSelect1">SECTION</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>


        
        <div class="form-group">
        <label for="exampleFormControlSelect1">BATCH</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>2018-2022</option>
            <option>2019-2023</option>
            <option>2020-2024</option>
            <option>2021-2025</option>
            <option>2022-2026</option>
        </select>
        </div>
        <div class="form-group">
        <label for="exampleFormControlSelect2">YEAR</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1st year</option>
            <option>2nd year</option>
            <option>3rd year</option>
            <option>4th year</option>
        </select>
        <label for="exampleFormControlSelect2">SEMESTER</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1st semester</option>
            <option>2nd semester</option>
        </div>
        </form>
</div>









