{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{%static 'fstyles.css'%}">
</head>
<body style="background-color: white;
text-align: center;">
<img class="img3" src="https://res.cloudinary.com/djvw53udn/image/upload/v1670862665/favpng_teacher-icon-design-avatar_gd6bbj.png" alt="">
<form method="post">
    {%csrf_token%}
    <label for="chk" aria-hidden="true">Login</label>
    <input type="text" name="username" placeholder="Username" required="">
    <input type="password" name="password" placeholder="Password" required="">
    <button>Login</button>
</form>

</body>
</html>